@import "../../global.scss";
@mixin center-absolute-round {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: $gray;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.75;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);

  overflow: hidden;
  opacity: 0;

  @include mobileLarge {
    height: 45px;
    width: 45px;
  }
  img {
    height: 65px;
    width: 65px;

    @include mobileLarge {
      height: 40px;
      width: 40px;
    }
  }
}
@mixin icon-delayed-transition($delay) {
  transition: all 0.25s ease-in $delay;
  opacity: 1;
}
@mixin title-delayed-transition($delay) {
  transition: all 0.5s ease-in $delay;
  opacity: 1;
}

.intro {
  background-image: linear-gradient(
    to top,
    rgb(249, 249, 249) 0%,
    rgb(230, 230, 230) 50%,
    rgb(210, 210, 210) 80%,
    rgb(190, 190, 190) 100%
  );

  display: flex;

  @include mobileLarge {
    flex-direction: column;
  }

  .left {
    flex: 0.5;
    overflow: hidden;

    .imgContainer {
      width: 675px;
      height: 675px;
      background-image: linear-gradient(to top, $primary-Color, $gray);
      border-radius: 50%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      float: right;
      position: relative;
      box-shadow: 0px 0px 5px rgba(60, 110, 113, 0.3);

      opacity: 0;
      transform: translateX(-350px);
      overflow: hidden;

      .profileImg {
        opacity: 0;
        height: 900px;
        width: auto;
        position: absolute;
        top: -250px;
      }

      &.active {
        opacity: 1;
        transform: translateX(0);
        transition: all 0.75s ease-in;
        .profileImg {
          opacity: 1;
          transition: all 1s ease-in 0.75s;
        }
      }
      @include laptop {
        width: 800px;
        height: 800px;
        transform: translateX(-350px);

        .profileImg {
          opacity: 0;
          height: 900px;
          width: auto;
          position: absolute;
          top: -200px;
        }

        &.active {
          opacity: 1;
          transform: translateX(0);
          transition: all 0.75s ease-in;
          .profileImg {
            opacity: 1;
            transition: all 1s ease-in 0.75s;
          }
        }
      }
      @include tablet {
        width: 650px;
        height: 700px;
        transform: translate(-150px, 150px);

        .profileImg {
          opacity: 0;
          height: 900px;
          width: auto;
          position: absolute;
          top: -200px;
        }

        &.active {
          opacity: 1;
          transform: translate(0, 150px);
          transition: all 0.75s ease-in;
          .profileImg {
            opacity: 1;
            transition: all 1s ease-in 0.75s;
          }
        }
      }

      @include mobileLarge {
        width: 400px;
        height: 400px;

        position: absolute;
        top: -125px;
        .profileImg {
          height: 800px;
          width: auto;
          position: absolute;
          top: -225px;
        }
      }

      .iconContainer {
        &.active {
          .giticon {
            @include icon-delayed-transition(1.5s);
          }
          .javaicon {
            @include icon-delayed-transition(1.7s);
          }
          .reacticon {
            @include icon-delayed-transition(1.9s);
          }

          .sassicon {
            @include icon-delayed-transition(2.1s);
          }

          .nodeicon {
            @include icon-delayed-transition(2.3s);
          }
          .bookicon {
            @include icon-delayed-transition(2.5s);
          }
          .podcasticon {
            @include icon-delayed-transition(2.7s);
          }
          .wrestlingicon {
            @include icon-delayed-transition(2.9s);
          }
        }

        .giticon {
          @include center-absolute-round;
          transform: translateY(405px) translateX(220px);

          @include laptop {
            transform: translateY(390px) translateX(270px);
          }
          @include tablet {
            transform: translateY(490px) translateX(170px);
          }
          @include mobileLarge {
            transform: translateY(265px) translateX(120px);
          }
        }

        .javaicon {
          @include center-absolute-round;
          transform: translateY(295px) translateX(205px);
          @include laptop {
            transform: translateY(265px) translateX(245px);
          }
          @include tablet {
            transform: translateY(390px) translateX(195px);
          }
          @include mobileLarge {
            transform: translateY(185px) translateX(130px);
          }
        }
        .reacticon {
          @include center-absolute-round;
          transform: translateY(180px) translateX(180px);
          @include laptop {
            transform: translateY(160px) translateX(190px);
          }
          @include tablet {
            transform: translateY(285px) translateX(220px);
          }
          @include mobileLarge {
            transform: translateY(95px) translateX(110px);
          }
        }
        .sassicon {
          @include center-absolute-round;
          transform: translateY(80px) translateX(120px);
          @include laptop {
            transform: translateY(70px) translateX(115px);
          }
          @include tablet {
            transform: translateY(180px) translateX(195px);
          }
          @include mobileLarge {
            transform: translateY(40px) translateX(30px);
          }
        }
        .nodeicon {
          @include center-absolute-round;
          transform: translateY(20px) translateX(10px);
          @include laptop {
            transform: translateY(15px) translateX(15px);
          }
          @include tablet {
            transform: translateY(90px) translateX(130px);
          }
          @include mobileLarge {
            transform: translateY(40px) translateX(-70px);
          }
        }

        .bookicon {
          @include center-absolute-round;

          transform: translateY(20px) translateX(-110px);

          @include laptop {
            transform: translateY(10px) translateX(-90px);
          }
          @include tablet {
            transform: translateY(40px) translateX(40px);
          }
          @include mobileLarge {
            transform: translateY(95px) translateX(-150px);
          }
        }
        .podcasticon {
          @include center-absolute-round;
          transform: translateY(80px) translateX(-220px);
          img {
            border-radius: 50%;
          }
          @include tablet {
            transform: translateY(20px) translateX(-60px);
          }

          @include mobileLarge {
            transform: translateY(175px) translateX(-170px);
          }
        }

        .wrestlingicon {
          @include center-absolute-round;
          img {
            width: 40px;
          }
          transform: translateY(180px) translateX(-260px);
          @include mobileLarge {
            transform: translateY(245px) translateX(-160px);
            img {
              width: 20px;
            }
          }
        }
      }
    }
  }
  .right {
    flex: 0.5;
    position: relative;

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 55px;
        margin: 10px 0px;
        opacity: 0;
        color: $black;
      }
      h2 {
        font-size: 35px;
        opacity: 0;
        color: $black;
      }
      h3 {
        font-size: 30px;
        opacity: 0;
        color: $black;
        span {
          font-size: 35px;
          color: $secondary-Color;
          font-family: "Dosis", sans-serif;
        }

        .typed-cursor {
          animation: blink 1s infinite;
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
      @include tablet {
        h1 {
          font-size: 55px;
          margin: 10px 0px;
          opacity: 0;
        }
        h2 {
          font-size: 35px;
          opacity: 0;
        }
        h3 {
          font-size: 25px;
          opacity: 0;
          span {
            font-size: 25px;
          }

          .typed-cursor {
            animation: blink 1s infinite;
          }

          @keyframes blink {
            50% {
              opacity: 1;
            }
            100% {
              opacity: 0;
            }
          }
        }
      }

      &.active {
        h1 {
          @include title-delayed-transition(3.5s);
        }
        h2 {
          @include title-delayed-transition(3s);
        }
        h3 {
          @include title-delayed-transition(4s);
        }
      }
    }
    a {
      position: absolute;
      bottom: 10px;
      left: 30%;
      img {
        width: 30px;
        animation: arrowBlink 4s infinite;
        cursor: pointer;
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
