@import "../../global.scss";

.testimonials {
  background-image: linear-gradient(
    to bottom,
    rgb(249, 249, 249) 0%,
    rgb(212, 214, 216) 50%,
    rgb(189, 192, 198) 80%,
    rgb(164, 170, 175) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    @include titleColor;
    font-weight: 700;
    @include pageTitleColor;
    font-size: 60px;
    overflow: hidden;

    @include tablet {
      margin-top: 25px;
      font-size: 60px;
    }
    @include mobileLarge {
      margin-top: 10px;
      font-size: 40px;
    }
  }

  .container {
    width: 800px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    @include mobileLarge {
      flex-direction: column;
      height: 700px;
    }
    .card {
      border-radius: 10px;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 10px;
      transition: all 0.5s ease;
      width: 300px;
      height: 75%;
      margin: 0 30px;
      background: linear-gradient(to bottom, $gray 15%, $primary-Color);
      box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.4);
      border: 1.5px solid $secondary-Color;
      position: relative;
      opacity: 0;
      overflow: hidden;

      &.active {
        opacity: 1;
        transition: all 1s ease-in;
      }

      &:hover {
        transition: all 0.5s ease-in;
        transform: scale(1.1);
      }

      @include tablet {
        margin-top: 100px;
      }
      @include mobileLarge {
        margin-top: 10px;
        margin-bottom: 10px;
        height: 160%;
        justify-content: space-between;
        padding: 25px;
      }

      .top {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        .right {
          .icon {
            font-size: 50px;
            color: $white;

            @include mobileLarge {
              font-size: 40px;
              position: absolute;
              top: 235px;
              right: 20px;
            }

            &:hover {
              color: $secondary-Color;
            }
          }
        }
        img {
          &.user {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            object-fit: cover;
            margin: 0 50px;
            box-shadow: 0px 0px 1px rgba(79, 79, 79, 0.4);

            @include mobileLarge {
              height: 70px;
              width: 70px;
              position: absolute;
              top: 220px;
              left: -40px;
            }
          }
        }
      }

      .center {
        padding: 10px;
        border-radius: 10px;
        background-color: $white;
        color: $black;
        border: 1.25px solid $black;
        overflow: hidden;
        @include mobileLarge {
          padding: 15px;
          margin-top: -50px;
        }

        &::before {
          content: "\201C";
          position: absolute;
          top: 105px;
          left: 12.5px;
          line-height: 1;
          font-size: 150px;
          color: lightgrey;
          font-family: sans-serif;
          z-index: 1;
          @include mobileLarge {
            top: 20px;
            left: 20px;
          }
        }
        p {
          z-index: 2;
          position: relative;
        }
      }
      .bottom {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;

        h3 {
          margin-bottom: 5px;
          color: $white;
        }
        h4 {
          color: $gray;
        }
      }
    }
  }
}
