@import "../../global.scss";

.works {
  background-color: white;
  @include flex;
  position: relative;
  user-select: none;

  h1 {
    @include flex;
    @include titleColor;
    z-index: 10;
    position: absolute;
    top: 35px;
    letter-spacing: 1.5px;
    font-size: 50px;
    user-select: none;
    font-weight: 700;
    font-family: "Cinzel", serif;
  }

  .arrow {
    height: 60px;
    position: absolute;
    cursor: pointer;
    user-select: none;
    color: lightslategray;

    &.left {
      left: 125px;
      transform: rotateY(180deg);
      user-select: none;
      color: lightslategray;
    }
    &.right {
      right: 125px;
      user-select: none;
    }
  }

  .slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-in-out;
    user-select: none;
    $--current-slide: 1;

    .container {
      width: 100vw;
      @include flex;
      user-select: none;

      transition: opacity 0.5s ease;
      overflow: hidden;
      opacity: 0;

      &.active {
        opacity: 1;
        transition: all 2s ease-in-out;
      }

      .item {
        width: 700px;
        height: 100%;
        background: linear-gradient(to bottom right, lightgray 55%, crimson);

        border-radius: 20px;
        @include flex;
        user-select: none;

        .left {
          flex: 4;
          height: 90%;
          @include flex;
          user-select: none;

          .leftContainer {
            width: 90%;
            height: 95%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            user-select: none;
            overflow: hidden;

            .imgContainer {
              width: 75px;
              height: 75px;

              @include flex;
              overflow: hidden;
              user-select: none;

              img {
                width: 75px;
              }
            }
            h2 {
              font-size: 22.5px;
              user-select: none;
              transform: translateX(-800px);
              transition: all 0.5s ease-in;
              transition-delay: 1.5s;
              opacity: 0;

              &.active {
                transform: translateX(0);
                transition: transform 1.5s ease-in-out, opacity 2.5s ease-in-out;

                opacity: 1;
              }
            }
            p {
              font-size: 12px;
              user-select: none;
              line-height: 1.5;
              transform: translateY(400px);
              transition: all 0.5s ease-in;
              transition-delay: 1.5s;
              opacity: 0;

              &.active {
                transform: translateY(0);
                transition: transform 1.5s ease-in-out, opacity 2.5s ease-in-out;
                transition-delay: 0.5s;
                opacity: 1;
              }
            }
          }
        }
        .right {
          flex: 6;
          height: 100%;
          @include flex;
          overflow: hidden;
          user-select: none;

          img {
            width: 0px;
            transform: rotate(15deg);
            user-select: none;
            transition: all 1.5s ease-in;
            opacity: 0;

            &.active {
              opacity: 1;
              width: 400px;
              transition: all 1s ease-in-out;
              transition-delay: 1.5s;
              transform: rotate(-15deg);
            }
          }
        }
      }
    }
  }
}
