// Media Query Manager
/*

0-600px:          Phone
600-900px -       Tablet
900-1200px -      Tablet Landscape
[1200px-1800px] - Normal styles
1800px + -        Big Desktop

$Breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + Typography > general layout + grid > page layout > components

*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content; // 600px
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content; //900 px
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content; // 1200px
    }
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content; //1800px
    }
  }
}

$mainColor: #15023a;

$black: #353535;
$primary-Color: #3c6e71;
$secondary-Color: #284b63;
$gray: #d9d9d9;
$white: #ffffff;

@mixin Desktop {
  @media (max-width: 2560px) {
    @content;
  }
}
@mixin laptopL {
  @media (max-width: 1440px) {
    @content;
  }
}
@mixin laptop {
  @media (max-width: 1025px) {
    @content;
  }
}
@mixin tabletLarge {
  @media (max-width: 830px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 769px) {
    @content;
  }
}
@mixin mobileLarge {
  @media (max-width: 426px) {
    @content;
  }
}
@mixin mobileSmall {
  @media (max-width: 376px) {
    @content;
  }
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin titleColor {
  background: linear-gradient(to right, $gray, $primary-Color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin pageTitleColor {
  background: linear-gradient(to left, $black, $primary-Color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 2px;
}
@mixin lightTitleColor {
  background: linear-gradient(to left, rgb(237, 226, 229), rgb(165, 173, 181));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bold-text {
  font-size: 15px;
  font-weight: 800;
  color: black;
  text-align: left;
}

.p-text {
  font-size: 12px;
  text-align: left;
  color: gray;
  line-height: 1.5;
}
