// Media Query Manager
/*

0-600px:          Phone
600-900px -       Tablet
900-1200px -      Tablet Landscape
[1200px-1800px] - Normal styles
1800px + -        Big Desktop

$Breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + Typography > general layout + grid > page layout > components

*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content; // 600px
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content; //900 px
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content; // 1200px
    }
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content; //1800px
    }
  }
}

$primaryBrown: #582f0e;
$secondaryBrown: #7f4f24;
$primaryLightBrown: #936639;
$secondaryLightBrown: #a68a64;
$primaryDarkMoss: #333d29;
$secondaryDarkMoss: #414833;
$primaryMoss: #656d4a;
$secondaryMoss: #656d4a;
$lightMoss: #c2c5aa;
$primaryHoney: #dbb42c;
$secondaryHoney: #fad643;
$lightwood: #b6ad90;
